/* Page styles */
#root {
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  padding: 100px 0 100px;
  position: relative;
}

h2, h3, h4, h5 {
  font-family: 'Rubik', sans-serif;

}

/* Media queries for changing the body padding for footer and header space */
@media only screen and (max-width: 1025px) {
  #root {
      padding: 100px 0 150px;
  }
}

@media only screen and (max-width: 650px) {
  #root {
      padding: 65px 0 150px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

/* Landing page styles */
main.card.grid-container.grid-x.align-center.about {
  width: 95%;
  max-width: 1000px;
  align-self: center;
  border-radius: 5px 5px 5px 5px;
  border: none;
}

h3.card-divider {
  background-color: transparent;
  border-bottom: 1px solid #739dbe;
  margin: 0px;
  padding: 0px;
}

section.card-section.about {
  padding: 20px 10px 10px;
}

img#beachPic {
  width: 100%;
  padding: 0px 0px 20px 0px;
}

/* Footer styles */
footer.large.callout.secondary {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-image: linear-gradient(to top, #739dbe , white);
  color: black;
  height: 100px;
  z-index: 100;
  border: none;
}

h3.footer-logo {
  max-width: 275px;
  max-height: 50px;
  margin: 0px;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 45px;
}

figcaption.copyright {
  font-size: 14px;
  margin: 0;
}

figure.large-4.cell.copyright {
  font-size: 18px;
  align-content: left;
}

@media only screen and (max-width: 1023px) {
  footer.large.callout.secondary {
      text-align: center;
      background-image: linear-gradient(to top, #739dbe , white);
  }

  figure.large-4.cell.copyright {
      align-content: center;
      font-size: 16px;
  }

  img.footer-logo {
      max-width: 240px;
  }
}