.callout {
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.trip-button {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 49%;
    margin-right: 1px;
    background-color: #64b8b1;
}

.event-button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 49%;
    float: right;
    background-color: #64b8b1;
}

.trip-button:hover {
    background-color: #70d1c9;
}

.event-button:hover {
    background-color: #70d1c9;
}

.trip-button:focus {
    background-color: #70d1c9;
}

.event-button:focus {
    background-color: #70d1c9;
}

.callout {
    background-color: #e9dfc3;
}