/* Navbar styles */
.top-bar {
  background-image: linear-gradient(to right, #e9d59c , white);
}

/* Setting style for logo in navbar */
header#mainNavigation.top-bar {
  max-height: 75px;
  border-bottom: 2px;
  position: fixed;
  top: 0;
  width: 100%;
}

h1.top-bar-left {
  /* max-width: 300px; */
  margin: 10px;
  color: #92C4EE;
  font-family: 'East Sea Dokdo', cursive;
}

/* Setting styles navbar menu */
nav.title-bar {
  background: white;
}

.button {
  border-radius: 8px;
  margin-right: 1px;
  background-color: #64b8b1;
}

li.host-logout a:hover {
  color: #1779ba;
}

/* Media query for responsive navbar */
@media only screen and (max-width: 650px) {
  ul.dropdown.menu {
      float: right;;
  }
  .top-bar .top-bar-left {
      max-width: 300px;
  }
  img#logo {
      max-width: 225px;
  }
}

@media only screen and (max-width: 350px) {
  .top-bar .top-bar-left {
      max-width: 250px;
  }
}
